[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
recommonmark = "*"
sphinx-rtd-theme = "*"
sphinx = "*"
sphinx-sass = {git = "https://github.com/mwibrow/sphinx-sass.git"}

[requires]
python_version = "3.7"
